{% extends 'base.html.twig' %}

{% block body %}

<h1> {% trans %} All actors in the database {% endtrans %} </h1>

    {% if actors %}

        {% for actor in actors %}
            {{ loop.index }}.
            <a href="{{ path('app_show_actor_profile', { id: actor.id }) }}">
            {{ actor.fName }}
            {{ actor.lName }} 
            </a>
            <br />
        {% endfor %}

    {% else %}
       <h3> {% trans %} There's no actors yet {% endtrans %} </h3>
    {% endif %}

{% endblock %}