<nav>
    <div>
        <ul>
            <li>
                <a href="/movies"> {% trans %} Movies {% endtrans %} </a>
            </li>
            <li>
                <a href="/actors"> {% trans %} Actors {% endtrans %} </a>
            </li>
            <li>
                <a href="/account"> {% trans %} Your account {% endtrans %} </a>
            </li>
        </ul>
    </div>
</nav>